<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<loadFromRemoteSources enabled="true" />
	</runtime>
	<appSettings>
		<add key="EQPID" value="MCASY01|MCBLU01" />
		<add key="WebSocketLocalIP" value="127.0.0.1"/>
		<add key="WebSocketLocalPort" value="4399"/>
		<add key="WebAPILocalAddress" value="http://127.0.0.1:2800"/>
		<add key="OPIRefreshRate" value="1000"/>
		<!--OPILayou图刷新率(毫秒)-->
		<add key="RVMappingConfig" value="Configuration\RVMappingConfig.xml" />
		<add key="SystemConfig" value="Configuration\SystemConfig.xml"/>
		<add key="EQRule" value="Configuration\rule_eq.xml"/>
		<add key="MESRule" value="Configuration\rule_mes.xml"/>
		<add key="LinkSignal" value="Configuration\linkSignal.xml"/>
		<add key="LogPath" value="D:\BHLogs"/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>