<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--以上为固定格式,从这里开始以下是用户配置项    -->
  <!--<properties resource="../../database.config"/>-->
  <!-- 指定一个属性源，相当与设置一些属性变量，该文件请查看下面   -->

  <settings>
    <!-- 当该选项为true时，你在调用指定的映射时你总是必须给出完整的名称例如:queryForObject(“Namespace.statement.Id”);    -->
    <setting useStatementNamespaces="false"/>
    <!-- 该选项指示是否使用缓存，默认为true -->
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false" />
  </settings>

  <!--指定数据源 ${datasource} ${database} ${userid} ${password} 为DataBase.config定义的值-->
  <providers resource="Configuration/providers.config"/>
  <database>
    <provider name="PostgreSq3.2.2.0"/>
    <dataSource name="localhost" connectionString="Server=localhost;Port=5432;uid=postgres;pwd=123456;Database=HKCBH_BC;"/>
  </database>

  <sqlMaps>
    <!-- 报表数据源表映射-->
    <sqlMap resource="Map/Alarm.xml"/>
    <sqlMap resource="Map/Equipment.xml"/>
    <sqlMap resource="Map/GlassInfo.xml"/>
	<sqlMap resource="Map/Pallet.xml"/>
	<sqlMap resource="Map/ProcessEnd.xml"/>
	<sqlMap resource="Map/Port.xml"/>
    <sqlMap resource="Map/Recipe.xml"/>
	<sqlMap resource="Map/Material.xml"/>
    <sqlMap resource="Map/Robot.xml"/>
    <sqlMap resource="Map/DVData.xml"/>
    <sqlMap resource="Map/Config.xml"/>
    <sqlMap resource="Map/User.xml"/>
    <sqlMap resource="Map/Test.xml"/>
	<sqlMap resource="Map/EqpProfile.xml"/>
  </sqlMaps>
</sqlMapConfig>
