<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MenuConfig" value="Configuration\MenuConfig.xml"/>
    <add key="WCFEndpointConfigName"  value="WCFService"/>
    <add key="SubscriberEndpointConfigName" value="EAPServerSubscriber"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DataTransBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="23:10:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:10005/WCFService" binding="netTcpBinding" bindingConfiguration="DataTransBinding"
                contract="Glorysoft.BC.WCF.Contract.INotifyService" name="WCFService" />
      <endpoint address="net.tcp://localhost:10006/EAPServerSubscriber"
         binding="netTcpBinding" bindingConfiguration="DataTransBinding"
         contract="Glorysoft.BC.WCF.Contract.ISubscription" name="EAPServerSubscriber" />
    </client>
  </system.serviceModel>
</configuration>